.awards {
    margin-top: 115px;
    &__text {
        margin: 0 auto;
        padding-bottom: 20px;
        width: 860px;
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        color: #FFFFFF;
    }
}