.delivery {
    height: 100vh;
    &__title {
        margin-top: 140px;
        margin-bottom: 44px;
        font-weight: 400;
        font-size: 96px;
        line-height: 159.5%;
        color: #FFFFFF;
    }
    &__text {
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 20px;
        line-height: 184%;
        color: #FFFFFF;
    } 
}